<div class="row">
  <div class="col-sm-12 text-center accent-bar footer">
    <address class="footer-address">
      <span class="footer-company">Blue Heaven Technologies</span><br>
      <a href="https://www.google.com/maps/place/2820+S+English+Station+Rd,+Louisville,+KY+40299/@38.194707,-85.4771946,17z/data=!3m1!4b1!4m5!3m4!1s0x8869a2f90d5edfcf:0xbc18f275beded6d3!8m2!3d38.194707!4d-85.4750059"><span class="glyphicon glyphicon-map-marker footer-icons"></span>2820 S. English Station Road</a><br>
      Louisville, KY 40299<br>
      <a href="tel:+15023570132"><span class="glyphicon glyphicon-earphone footer-icons"></span>502-357-0132</a><br>
      <a href="mailto:info@blueheaventech.com"><span class="glyphicon glyphicon-envelope footer-icons"></span>info@blueheaventech.com</a><br>
    </address>
    <p class="copyright-text">Copyright &copy; Blue Heaven Technologies 2017</p>
  </div>
</div>
