<div class="navbar navbar-default navbar-fixed-top accent-bar">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='img/logo_white_v2.png') }}" alt="Blue Heaven Tech Logo" class="logo img-responsive pull-left" />
      </a>
    </div>

    <!-- ####### ICON ####### -->
    <div>
      <a href="#sidr" class="btn btn-default btn-md pull-right nav-icon">
        <span class="glyphicon glyphicon-menu-hamburger nav-icon-text" aria-hidden="true"> Menu</span> 
      </a>
    </div>

    <!-- ####### NAVIGATION LINKS ####### -->
    {% include 'partials/navigation_links.html' %}

  </div>
</div>
