<nav id="sidr">
  <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('our_mission') }}">Our Mission</a>
      <ul>
        <li><a href="{{ url_for('crew') }}">The Blue Heaven Crew</a></li>
      </ul>
    </li>
    <li><a href="{{ url_for('what_we_do') }}">What We Do</a>
      <ul>
        <li><a href="{{ url_for('air_filtration_testing') }}">Air Filtration Testing</a></li>
        <li><a href="{{ url_for('environmental_testing') }}">Environmental Testing</a></li>
        <li><a href="{{ url_for('emissions_testing') }}">Industrial Emissions Testing</a></li>
        <li><a href="{{ url_for('test_dusts') }}">Test Dusts</a></li>
        <li><a href="{{ url_for('play_days') }}">Play Days</a></li>
      </ul>
    </li>
    <li><a href="{{ url_for('faqs') }}">FAQ's</a></li>
    <li><a href="{{ url_for('contact_us') }}">Contact Us</a></li>
  </ul>
</nav>