/**************************   GENERAL   **************************/ 

body {
  font-family: 'Roboto', sans-serif;
  line-height: 2.00em;
  width: 100%;
  height: 100%;
}

.container-fluid {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.section-title {
  font-family: 'Roboto Slab', serif;
}

.section-block {
  margin-top: 2.0em;
  margin-bottom: 2.0em;
}

.page-header {
  text-align: center;
}

.page-photo {
  display: block;
  margin: 2.50em auto;
  border-radius: 10%;
}

.services-tag {
  font-family: 'Roboto Slab', serif;
}

/**************************   ACCENT BAR   **************************/ 

.accent-bar {
  background-color: rgba(10, 44, 107, 1);
  color: #fff;
}

/**************************   NAVIGATION   **************************/ 

.nav-icon {
  height: 6.25em;
  width: 6.25em;
}

nav {
  /* Hide navigation so that icon(javascript) controls its display. */
  display: none;  
}

/**************************   HEADER   **************************/ 

.logo {
  margin-top: 1.75em;
  margin-bottom: 1.75em;  
}

/**************************   FOOTER   **************************/ 
.footer {
  padding-top: 0.938em;
  padding-bottom: 0.938em;
  margin-top: 4.0em;
  margin-bottom: 0;
}

.footer-icons {
  padding-right: 5px;
}

.footer a {
  color: #fff;
}

.copyright-text {
  margin-top: 1.25em;
}

/**************************   INDIVIDUAL PAGES   **************************/ 

/**************************   
HOME  
**************************/

#carousel-slideshow {
  margin: 1.80em auto;
}

/**************************   
OUR MISSION  
**************************/



/**************************   
THE BLUE HEAVEN CREW
**************************/

.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-text {
  margin: 2.25em auto;
}

.separator {
  margin: 0 auto 2.25em;
  height: .313em;
  width: 18.750em;
  background-color: #0a2c6b;
}

.crew-photo {
  width: 13.500em;
  height: 15.625em;
  max-width: 80%;
  padding: .625em;
  border-radius: 10%;
}

.employee-name {
  font-weight: bold;
}

/**************************   
WHAT WE DO   
**************************/


/**************************   
ENVIRONMENTAL TESTING
**************************/

table th,
table td {
  text-align: center;
  padding: .313em;
  border-bottom: .125em solid #0a2c6b;
}
table tr:nth-of-type(even) {
  background-color: #D5DAE3;
}

/**************************   
PLAY DAY
**************************/

.photo-line {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}



/*** add div tags to all pages */