/**************************   
GENERAL   
**************************/ 
body {
  width: 100%;
  height: 100%;
  line-height: 2.000em;
  padding-top: 8.750em;
}

.inner-container {
  width: 95%;
  max-width: 768px;
  margin: auto;
}

.section-block {
  margin: 1.50em auto;
}

.page-header {
  text-align: center;
  margin-top: 0.35em;
}

.page-photo {
  display: block;
  margin: 2.50em auto;
  border-radius: 10%;
}

.hide-liststyle {
  /*  Hide default icons on list, replaced by glyphicons */
  list-style-type: none;
}

.glyphicon {
  padding-right: .5em;
}



/**************************   
NAVIGATION
**************************/ 
.navbar {
  height: 7.188em;
  margin-bottom: 0;
}

.logo {
  height: 4.688em;
  width: 9.500em;
  padding: 0.75em;
  padding-bottom: 0.75em;
}

nav {
  /* Hide navigation so that icon(javascript) controls its display. */
  display: none;  
}

 .nav-icon {
  margin-top: -0.75em;
} 



/**************************   
FOOTER   
**************************/ 
.footer {
  padding-top: 0.938em;
  padding-bottom: 0.938em;  
  margin-top: 2.00em;
  margin-bottom: 0;
}

.footer-company {
  font-size: 1.80em;
  font-weight: 300;
}

.copyright-text {
  margin-top: 0.9em;
}

.footer-address {
  padding-top: 0.75em;
}




/**************************   
TYPOGRAPHY   
**************************/ 
body {
  font-family: 'Roboto', sans-serif;
}

.page-header,
.section-title,
.services-tag {
  font-family: 'Roboto Slab', serif;
}

.nav-icon-text {
  font-weight: bold;
  text-transform: uppercase;
}



/**************************   
COLORS
**************************/ 

.accent-bar {
  background-color: rgba(10, 44, 107, .9);
  color: #fff;
}

.footer a {
  color: #fff;
}



/************************************   INDIVIDUAL PAGES   ************************************/ 



/**************************   
HOME  
**************************/

.carousel-container {
  /* min-width: 525px;
  max-width: 960px; */
  min-width: 100%;
  margin-top: 3.750em;
  margin-bottom: 3.750em;
}



/**************************   
THE BLUE HEAVEN CREW
**************************/
.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-text {
  margin: 2.25em auto;
}

.separator {
  margin: 0 auto 2.25em;
  height: .313em;
  width: 18.750em;
  background-color: #0a2c6b;
}

.crew-photo {
  padding: .625em;
  border-radius: 10%;
}

.employee-name {
  font-weight: bold;
}



/**************************   
ENVIRONMENTAL TESTING
**************************/
table th,
table td {
  text-align: center;
  padding: .313em;
  border-bottom: .125em solid #0a2c6b;
}
table tr:nth-of-type(even) {
  background-color: #D5DAE3;
}



/************************************   MEDIA QUERIES 768px   ************************************/ 
@media (min-width: 768px) {
  .nav-icon {
    margin-top: 3.000em;
  } 
}

 