<!-- Import main-layout document from template.-->
{% extends 'layout.html' %}

<!--Title of Page.-->
{% block title %}About Us {{ super() }}{% endblock %}

<!--Content to be displayed in body of the document.-->
{% block content %}
  <section class="section-block">
    <h2>Our Mission</h2>
    <p>We believe that the only long term, true measure of a successful organization is uncompromised attention to the goals and objectives of our customers. We strive to attain that measure of success by:</p>
    <ul>
      <li>Giving full attention to complete, clear development and understanding of our clients' goals and objectives.</li>
      <li>Utilizing our skills and experience to build working relationships that fulfill our clients' goals and objectives.</li>
      <li>Maintaining a commitment to moral and ethical business principles.</li>
    </ul>

    <p>To stay on the cutting edge of air filtration technology, we maintain active involvement in various technical associations and organizations. Members of our staff serve on the technical committees to develop new filtration test standards and procedures incorporating the newest technology.</p>

    <img src="{{ url_for('static', filename='img/working_photos/about_page.jpg') }}" alt="" class="page-photo" />

    <p>We continually attend seminars and workshops to update our knowlege base on the latest techniques in air filtration theory, materials and equipment. We have developed personal relationships with leading experts throughout the air filtration industry who provide us firsthand knowlege of the most current air filter testing procedures, standards, and instrumentation.</p>

    <p>The bottom line for this approach to our business is to provide you with the very best in technical services on every job and every test we perform.</p>
  </section>

  <p>Learn more about the<a href="{{ url_for('crew') }}"> Blue Heaven Crew</a></p>
  {% endblock %}