<!-- Import main-layout document from template.-->
{% extends 'layout.html' %}

<!--Title of Page.-->
{% block title %}Crew {{ super() }}{% endblock %}

<!--Content to be displayed in body of the document.-->
{% block content %}
  <h2 class="page-header">The Blue Heaven Crew</h2>
  
  <div class="row">
    <div class="col-sm-12">
      <!-- Bob Burkhead -->
      <div class="photo-container">
        <a href="{{ url_for('static', filename='img/individual_photos/bob_burkhead.jpg') }}"><img src="{{ url_for('static', filename='img/individual_photos/bob_burkhead.jpg') }}" class="crew-photo" alt="Professional Picture of Bob Burkhead" /></a>

        <p class="image-text"><span class="employee-name">Bob Burkhead</span> has been president of Blue Heaven Technologies since its foundation in July 2004. He has strong technical experience in research and development with patents and design awards. He has 35 years experience in air filtration product development and production activities, including 25 years spent with two major air filtration manufacturing firms. Bob remains heavily involved in Boy Scouts, is an avid UofL fan and is a closet environmentalist.</p>
      </div>

      <hr class="separator" />

      <!-- Connie Burkhead -->
      <div class="photo-container">
        <a href="{{ url_for('static', filename='img/individual_photos/connie_burkhead.jpg') }}"><img src="{{ url_for('static', filename='img/individual_photos/connie_burkhead.jpg') }}" class="crew-photo" alt="Professional Picture of Connie Burkhead" /></a>

        <p class="image-text"><span class="employee-name">Connie Burkhead</span> joined her husband Bob in 2012. Previously her employment roles have varied, including human resources, accounting, administration and technology. As the mother of two and grandmother of four, family time is her favorite hobby, though she also enjoys boating, hiking, bicycling and U of L ball games.</p>
      </div>

      <hr class="separator" />

      <!-- Joe Koenig -->
      <div class="photo-container">
        <a href="{{ url_for('static', filename='img/individual_photos/joe_koenig.jpg') }}"><img src="{{ url_for('static', filename='img/individual_photos/joe_koenig.jpg') }}"  class="crew-photo" alt="Professional Picture of Joe Koenig" /></a>

        <p class="image-text"><span class="employee-name">Joe Koenig</span> has been with Blue Heaven Technologies for four years. He holds a CAFS certificate, and enjoys fishing and motorcycle drag racing in his free time.</p>
      </div>

      <hr class="separator" />

      <!-- Doug Pfeiffer -->
      <div class="photo-container">
        <a href="{{ url_for('static', filename='img/individual_photos/doug_pfeiffer.jpg') }}"><img src="{{ url_for('static', filename='img/individual_photos/doug_pfeiffer.jpg') }}" class="crew-photo"
        alt="Professional Picture of Doug Pfeiffer" /></a>

        <p class="image-text"><span class="employee-name">Doug Pfeiffer</span> has worked for Blue Heaven Technologies for eight years. Previously he was on staff with Jordan Technologies for almost seven years and AAF for 25 years. He holds a bachelor’s degree in Electrical Engineering from the University of Missouri at Rolla, holds a CAFS certification from NAFA, and has taken the University of Minnesota short course certification in Aerosol and Particle Measurement. In his free time, Doug enjoys walking, jogging and biking.</p>
      </div>

      <hr class="separator" />

      <!-- Bobby Singer -->
      <div class="photo-container">
        <a href="{{ url_for('static', filename='img/individual_photos/bobby_singer.jpg') }}"><img src="{{ url_for('static', filename='img/individual_photos/bobby_singer.jpg') }}" class="crew-photo" alt="Professional Picture of Bobby Singer" /></a>

        <p class="image-text"><span class="employee-name">Bobby Singer</span> has been with Blue Heaven Technologies for nine years. Previously he was on staff with AFTL for 16 years, holds a CAFS certification, and has taken the University of Minnesota short course certification in Aerosol and Particle Measurement. Bobby enjoys playing basketball and volleyball and all things UofL.</p>
      </div>

      <hr class="separator" />

      <!-- Jack State -->
      <div class="photo-container">
        <a href="{{ url_for('static', filename='img/individual_photos/jack_state.jpg') }}"><img src="{{ url_for('static', filename='img/individual_photos/jack_state.jpg') }}" class="crew-photo" alt="Professional Picture of Jack State" /></a>

        <p class="image-text"><span class="employee-name">Jack State</span> has worked at Blue Heaven Technologies for four years. Previously he has worked at Air Filter Testing Laboratories (24 years), International Harvester (9 years) and the Kentucky Department of Highways (6 years). Jack holds a CAFS certificate from NAFA. In his free time, he enjoys fishing and choral singing.</p>
      </div>

      <hr class="separator" />

      <!-- Simon Ladd -->
      <div class="photo-container">
        <a href="{{ url_for('static', filename='img/individual_photos/simon_ladd.jpg') }}"><img src="{{ url_for('static', filename='img/individual_photos/simon_ladd.jpg') }}" class="crew-photo" alt="Professional Picture of Simon Ladd" /></a>

        <p class="image-text"><span class="employee-name">Simon Ladd</span> bacon ipsum dolor amet pancetta pork chop beef, short ribs tri-tip jowl ham. Chicken kielbasa picanha flank corned beef t-bone, turducken leberkas cupim chuck andouille sirloin alcatra. Ribeye prosciutto pork chop boudin bresaola. Picanha rump corned beef drumstick shankle capicola cow flank pancetta.</p>
      </div>

      <hr class="separator" />

      <!-- Glen Toloczko -->
      <div class="photo-container">
        <a href="{{ url_for('static', filename='img/individual_photos/glen_toloczko.jpg') }}"><img src="{{ url_for('static', filename='img/individual_photos/glen_toloczko.jpg') }}" class="crew-photo" alt="Professional Picture of Glen Toloczko" /></a>

        <p class="image-text"><span class="employee-name">Glen Toloczko</span> has worked for Blue Heaven Technologies for 10 years. Previously he was on staff with Jordan Technologies for 12 years. Glen holds a CAFS certification from NAFA, short course certification from the University of Minnesota in Aerosol and Particle Measurement and Bioaerosol Measurement, CHE 454 EPA Air Testing Sampling Course, 40+ hours of OSHA safety training confined space entry training and EPA Method 9/Method 22 Visual Emission Certification. In his free time, Glen enjoys woodworking, cycling, science and technology.</p>
      </div>

      <hr class="separator" />

      <!-- Dale Montgomery -->
      <div class="photo-container">
        <a href="{{ url_for('static', filename='img/individual_photos/dale_montgomery.jpg') }}"><img src="{{ url_for('static', filename='img/individual_photos/dale_montgomery.jpg') }}" class="crew-photo" alt="Professional Picture of Dale Montgomery" /></a>

        <p class="image-text"><span class="employee-name">Dale Montgomery</span> has more than 20 years of experience in air filtration testing,  filtration product development, indoor air quality and building failure analysis. He holds a master’s degree in Mechanical Engineering from the University of Louisville, and is a licensed patent agent and registered professional engineer in North Carolina and Kentucky. Dale is a sailor living in Oriental, North Carolina.</p>
      </div>

      <hr class="separator" />

      <!-- Kenneth Brown -->
      <div class="photo-container">
        <a href="{{ url_for('static', filename='img/individual_photos/kenneth_brown.jpg') }}"><img src="{{ url_for('static', filename='img/individual_photos/kenneth_brown.jpg') }}" class="crew-photo" alt="Professional Picture of Kenneth Brown" /></a>

        <p class="image-text"><span class="employee-name">Kenneth Brown</span> landjaeger bresaola jowl tongue shankle pastrami. Bresaola sausage short ribs, meatloaf meatball salami beef bacon alcatra t-bone. Tongue bacon chuck, cupim turducken chicken cow short ribs t-bone. Venison ground round ham hock porchetta swine t-bone sausage pork belly tenderloin, pig turducken pork chop tri-tip tongue filet mignon. Filet mignon bacon alcatra, capicola biltong kielbasa t-bone flank. Picanha chicken short loin jowl pork belly burgdoggen ham hock pastrami short ribs. Bresaola salami brisket, pancetta strip steak sausage beef turkey rump.</p>
      </div>

      <hr class="separator" />

      <!-- Tyler Shoulders -->
      <div class="photo-container">
        <a href="{{ url_for('static', filename='img/individual_photos/tyler_shoulders.jpg') }}"><img src="{{ url_for('static', filename='img/individual_photos/tyler_shoulders.jpg') }}" class="crew-photo" alt="Professional Picture of Tyler Shoulders" /></a>

        <p class="image-text"><span class="employee-name">Tyler Shoulders</span> turducken beef ribs filet mignon, pancetta tenderloin bacon capicola. Pork chop meatball pastrami pork belly kevin turkey kielbasa tongue bresaola jerky ribeye tenderloin fatback. T-bone leberkas capicola, kielbasa prosciutto tri-tip ham hock ground round pork chop jowl ribeye jerky landjaeger porchetta. Venison pork chop pork belly frankfurter meatloaf swine chicken, sirloin kielbasa tri-tip kevin picanha short loin tail prosciutto.</p>
      </div>

      <hr class="separator" />

      <!-- Evan Sparks -->
      <div class="photo-container">
        <a href="{{ url_for('static', filename='img/individual_photos/evan_sparks.jpg') }}"><img src="{{ url_for('static', filename='img/individual_photos/evan_sparks.jpg') }}" class="crew-photo" alt="Professional Picture of Evan Sparks" /></a>

        <p class="image-text"><span class="employee-name">Evan Sparks</span> biltong kevin sausage salami alcatra ball tip turducken tail venison corned beef fatback sirloin andouille flank. Ground round shank pork, pork belly sausage boudin swine t-bone. Drumstick cow tongue beef, turkey beef ribs prosciutto chuck chicken sausage strip steak landjaeger shank. Alcatra sirloin corned beef, spare ribs tri-tip landjaeger prosciutto jowl. Drumstick pork belly andouille pork ground round porchetta. Shank salami tail, jowl rump short loin drumstick ribeye pastrami turducken pig boudin capicola. Prosciutto shank chicken pastrami jowl pig ham biltong doner chuck ham hock andouille cow tail.</p>
      </div>

      <hr class="separator" />

      <!-- Casey Powell -->
      <div class="photo-container">
        <a href="{{ url_for('static', filename='img/individual_photos/casey_powell.jpg') }}"><img src="{{ url_for('static', filename='img/individual_photos/casey_powell.jpg') }}" class="crew-photo" alt="Professional Picture of Casey Powell" /></a>
        
        <p class="image-text"><span class="employee-name">Casey Powell</span> swine picanha leberkas turducken chuck, prosciutto ribeye cupim ham hock short ribs short loin bresaola beef rump filet mignon. Landjaeger venison swine, boudin flank meatball tenderloin biltong rump t-bone pork loin. Ham sirloin hamburger, ground round flank landjaeger shankle rump doner sausage. Brisket beef ribs strip steak, prosciutto spare ribs pork belly pork chop. Beef fatback pastrami turducken chicken pork loin, flank capicola short loin turkey. Tenderloin ribeye kielbasa, ham jowl frankfurter shankle porchetta. Drumstick doner bresaola ham pastrami ground round kevin corned beef.</p>
      </div>
    </div>
  </div>
{% endblock %}