<!-- Import main-layout document from template.-->
{% extends 'layout.html' %}

<!--Title of Page.-->
{% block title %}Environmental Testing {{ super() }}{% endblock %}

<!--Content to be displayed in body of the document.-->
{% block content %}
  <section>
    <h1>Industrial Emissions Testing</h1>
    <p>No one knows more about industrial emissions testing than Blue Heaven. We have made various processes more efficient and reliable than ever by introducing new testing technologies and innovative procedures. Our PC based data acquisition equipment provides immediate results. It is the most advanced, reliable testing equipment available.</p>
  </section>
  <section>
    <h1>Carbon Capacity Testing</h1>
    <p>Determine remaining life of carbon samples.</p>

    <table>
      <thead>
        <tr>
          <th>Pollutant</th>
          <th>Test Method</th>
        </tr>
        <tr>
          <td>Volumetric Flow Rate</td>
          <td>EPA Methods 1-4, PST 6</td>
        </tr>
        <tr>
          <td>Oxygen/Carbon Dioxide</td>
          <td>EPA Methods 3, 3A, 3B</td>
        </tr>
        <tr>
          <td>Oxygen/Carbon Dioxide RATA</td>
          <td>PST Method 3</td>
        </tr>
        <tr>
          <td>Particulate Matter (PM)</td>
          <td>EPA Methods 5, 5A - 5H</td>
        </tr>
        <tr>
          <td>Sulfur Dioxide</td>
          <td>EPA Method 6, 6A - 6C</td>
        </tr>
        <tr>
          <td>Sulfur Dioxide RATA</td>
          <td>PST Method 2</td>
        </tr>
        <tr>
          <td>Nitrogen Oxide</td>
          <td>EPA Method 7, 7A - 7E</td>
        </tr>
        <tr>
          <td>Nitrogen Oxide RATA</td>
          <td>PST Method 2</td>
        </tr>
        <tr>
          <td>Visible Emissions</td>
          <td>EPA Methods 9 &amp; 22</td>
        </tr>
        <tr>
          <td>Cabon Monoxide</td>
          <td>EPA Method 10, 10A - 10B</td>
        </tr>
        <tr>
          <td>Carbon Monoxide RATA</td>
          <td>PST Method 4</td>
        </tr>
        <tr>
          <td>Volatile Organic Compounds</td>
          <td>EPA Method 18</td>
        </tr>
        <tr>
          <td>SO<sub>2</sub>, NO<sub>x</sub> &amp; PM</td>
          <td>EPA Method 19</td>
        </tr>
        <tr>
          <td>NO<sub>x</sub> - Gas Turbines</td>
          <td>EPA Method 20</td>
        </tr>
        <tr>
          <td>Fugitive Emissions</td>
          <td>EPA Method 21</td>
        </tr>
        <tr>
          <td>PM<sub>10</sub></td>
          <td>EPA Method 201A</td>
        </tr>
        <tr>
          <td>Condensable Particulate Matter</td>
          <td>EPA Method 202</td>
        </tr>
      </thead>
    </table> 
  </section>
{% endblock %}