<!-- Import main-layout document from template.-->
{% extends 'layout.html' %}

<!-- ####### PAGE TITLE ####### -->
{% block title %}Home {{ super() }}{% endblock %}

<!-- ####### STYLESHEETS ####### -->
{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='js/camera_slideshow/css/camera.css') }}">
{% endblock %}

<!-- ####### CAROUSEL ####### -->
{% block carousel %}
  {% include 'partials/carousel.html' %}
{% endblock %}
  
<!-- ####### MAIN CONTENT ####### -->
{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <section class="section-block">
        <h3 class="section-title">Recognized Leader</h3>
        <p>Blue Heaven Technologies is a recognized leader in providing state-of-the-art air filtration testing and analytical services for air filtration and environmental emissions. <em>No other laboratory offers the range of air filtration testing services with experienced technical personnel as Blue Heaven.</em> From flat sheet efficiency tests to industrial vapor emissions testing, Blue Heaven can perform the testing services you need reliably and economically.</p>

        <p>Learn more about our <a href="{{ url_for('what_we_do') }}">Testing Services</a>.</p>
      </section>

      <section class="section-block">
        <h3 class="section-title">Rely on the Industry's Experts</h3>
        <p>Blue Heaven is stafffed with trained specialists and highly experienced technicians who have spent their careers in the air filtration business. They know air filters and applications and the associated testing procedures to give you accurate results in a professional manner. The combined experience of our staff incorporates virtually every air filtration and air quality standard in use today.</p>

        <p>Learn more about the <a href="{{ url_for('crew') }}">Blue Heaven Crew</a>.</p>
      </section>
    </div>
  </div>
{% endblock %}

<!-- ####### JAVASCRIPT ####### -->
{% block javascript %}
  <!-- Slideshow -->
    <script src="{{ url_for('static', filename='js/camera_slideshow/scripts/jquery.easing.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/camera_slideshow/scripts/jquery.mobile.customized.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/camera_slideshow/scripts/camera.min.js') }}"></script>
    <script>
      $('.camera_wrap').camera({
        height: '40%',
        time: 3500,
        imagePath: '{{ url_for("static", filename="assets/") }}'
      });
    </script>
{% endblock %}