<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- ####### META TAGS ####### -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- ####### TITLE ####### -->
    <title>{% block title %}{% endblock title %} | BHT</title>

    <!-- ####### FAVICON ####### -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!-- ####### STYLESHEETS ####### -->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.sidr/2.2.1/stylesheets/jquery.sidr.light.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_stylesheet.css') }}">
    {% block stylesheets %}{% endblock %}   
  </head>
  <body>
    <div class="container-fluid"> 
      <!-- ####### ACCENT BAR ####### -->
      <div class="row accent-bar">
        <div class="col-sm-12">
          <!-- ####### ICON ####### -->
          <a href="#sidr"><img class="nav-icon" src="{{ url_for('static', filename='img/menu_icon.svg') }}" alt="navigation"></a>
          <!-- ####### END ICON ####### -->

          <!-- ####### NAVIGATION ####### -->
          {% include 'partials/navigation.html' %}
          <!-- ####### END NAVIGATION ####### -->  
        </div>  
      </div>  
      <!-- ####### END ACCENT BAR ####### -->
        
      <!-- ####### BANNER ####### -->
      {% include 'partials/banner.html' %}
      
      <!-- ####### CAROUSEL ####### -->
      {% block carousel %}{% endblock %}
  
      <!-- ####### MAIN CONTENT ####### -->
      <div class="row inner-container">
        <div class="col-sm-12">
          {% block content %}{% endblock %}
        </div>
      </div>
      
      <!-- ####### FOOTER ####### -->
      {% include 'partials/footer.html' %}

    </div> <!-- ####### END CONTAINER DIV ####### -->

    <!-- ####### JAVASCRIPT ####### -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sidr/2.2.1/jquery.sidr.min.js"></script>
    <script src="{{ url_for('static', filename='js/custom_js.js') }}"></script>
    {% block javascript %}{% endblock %}
    <!-- ####### END JAVASCRIPT ####### -->
  </body>
</html>