<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- META Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Title -->
    <title>{% block title %}{% endblock title %} | BHT</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.sidr/2.2.1/stylesheets/jquery.sidr.light.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_stylesheet.css') }}">
    {% block stylesheets %}{% endblock %}   

  </head>
  <body>
    <div id="wrapper">
      <div id="banner">
        <!-- Mobile Menu Icon -->
        <a href="#sidr"><img id="menu-icon" src="{{ url_for('static', filename='img/menu_icon.svg') }}" alt="navigation"></a> 

        <!-- Site Navigation -->
        <nav id="sidr">
          <ul>
            <li class="nav-items"><a class="nav-links" href="{{ url_for('home') }}">Home</a></li>
            <li class="nav-items"><a class="nav-links" href="{{ url_for('about_us') }}">Our Mission</a>
              <ul class="sub-menu">
                <li class="nav-items"><a class="nav-links" href="{{ url_for('crew') }}">The Blue Heaven Crew</a></li>
              </ul>
            </li>
            <li class="nav-items"><a class="nav-links" href="{{ url_for('services') }}">What We Do</a>
              <ul class="sub-menu">
                <li class="nav-items"><a class="nav-links" href="{{ url_for('air_filtration_testing') }}">Air Filtration Testing</a></li>
                <li class="nav-items"><a class="nav-links" href="{{ url_for('environmental_testing') }}">Environmental Testing</a></li>
                <li class="nav-items"><a class="nav-links" href="{{ url_for('emissions_testing') }}">Industrial Emissions Testing</a></li>
                <li class="nav-items"><a class="nav-links" href="{{ url_for('test_dusts') }}">Test Dusts</a></li>
                <li class="nav-items"><a class="nav-links" href="{{ url_for('play_day') }}">Play Days</a></li>
              </ul>
            </li>
            <li class="nav-items"><a class="nav-links" href="{{ url_for('faqs') }}">FAQ's</a></li>
            <li class="nav-items"><a class="nav-links" href="{{ url_for('contact_us') }}">Contact Us</a></li>
          </ul>
        </nav>
      </div>

      <div id="logo-div">
        <!-- Site Logo -->
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo_transparent.png') }}" alt="Blue Heaven Tech Logo" class="logo" /></a>
      </div>

      <!-- Content Area -->
      <div id="content">
        {% block content %}{% endblock %}
      </div> <!-- end content div -->
    </div> <!-- end wrapper div -->
  </body>
  <footer>
    <p>2820 S. English Station Road</p> 
    <p>Louisville, KY 40299</p>
    <p><a href="tel:+15023570132">502-357-0132</a></p>
    <p><a href="mailto:info@blueheaventech.com">info@blueheaventech.com</a></p>
    <p>Copyright &copy; Blue Heaven Technologies 2017</p>
  </footer>

  <!-- Javacript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sidr/2.2.1/jquery.sidr.min.js"></script>
  <script src="{{ url_for('static', filename='js/custom_js.js') }}"></script>
  {% block javascript %}{% endblock %}
  
</html>