<!-- Import main-layout document from template.-->
{% extends 'layout.html' %}

<!--Title of Page.-->
{% block title %}Play Day {{ super() }}{% endblock %}

<!--Content to be displayed in body of the document.-->
{% block content %}
  <section class="section-block">
    <h2>Learn While you "Play" at Blue Heaven</h2>

    <p>Learn the "nuts and bolts" of filter testing by scheduling a Blue Heaven "Play Day." Spend a day with our staff and receive full use of our testing facilities as well as technical assistance in air filtration product development. Conduct your own tests, evaluate medias, or study contruction methods.</p>

    <p>We also conduct custom designed air filtration training sessions. Learn test procedures, industry standards, or product design and construction. Sessions can be tailored to newcomers, intermediate or advanced levels.</p>
  </section>
{% endblock %}