<!-- Import main-layout document from template.-->
{% extends 'layout.html' %}

<!--Title of Page.-->
{% block title %}Services {{ super() }}{% endblock %}

<!--Content to be displayed in body of the document.-->
{% block content %}
  <section class="section-block">
    <h2>What We Do</h2>
    <p>Blue Heaven Technologies tests commercial and residential air filters, flat sheet air filter media, room air cleaners, vacuum cleaners, automobile cabin air filters, and industrial pulse clean systems. We can also test air filters in extreme environments such as high temperatures, high humidity and moisture.</p>

    <p>Blue Heaven Technologies is also a supplier of specialized testing dusts for those customers that do their own testing.</p>
  </section>

  <section class="section-block">
    <h2>Services Offered</h2>
    <ul>
      <li><a href="{{ url_for('air_filtration_testing') }}">Air Filtration Testing</a></li>
      <li><a href="{{ url_for('environmental_testing') }}">Environmental Testing</a></li>
      <li><a href="{{ url_for('emissions_testing') }}">Industrial Emissions Testing</a></li>
      <li><a href="{{ url_for('play_day') }}">Play Day</a></li>
      <li><a href="{{ url_for('test_dusts') }}">Test Dusts</a></li>
    </ul>
  </section>
{% endblock %}
